* {
	padding: 0;
	margin: 0;
}
html, body {
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.fastui-body {
	background-color: #0e0e0e;
	background-image: url(../images/loading.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
}
.fastui-body .fastui-nav {
	position: fixed;
	height: 24px;
	z-index: 101;
	-webkit-app-region: drag;
	width: 100%;
}
.fastui-body .fastui-nav .fastui-nav-list {
	width: auto;
	float: right;
	z-index: 102;
	-webkit-app-region: no-drag;
}
.fastui-nav-list .fastui-nav-item {
	text-align: center;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	width: 45px;
	height: 24px;
	float: right;
}

.fastui-nav-list .fastui-nav-item:hover {
	background: rgba(177,177,177, 0.5);
}
.fastui-nav-list .fastui-nav-item:hover {
	background: rgba(177,177,177, 0.5);
}
.fastui-nav-list .fastui-nav-item.fastui-close:hover {
	background: rgba(255, 0, 0, 1);
}
.fastui-nav-list .fastui-nav-item img {
	width: 12px;
	height: 12px;
	margin-top: 6px;
}
.fastui-body .fastui-webview {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	overflow: hidden;
	display: none;
}
.fastui-body .fastui-hide {
	display: none;
}

img.refresh-loading {
	transform: rotate(360deg);
	animation: rotation 3s linear infinite;
	-moz-animation: rotation 3s linear infinite;
	-webkit-animation: rotation 3s linear infinite;
	-o-animation: rotation 3s linear infinite;
}

@keyframes rotation{
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}
	
